* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

:root {
    --light-bg-color: rgba(217, 234, 233, 0.7);
    --font-green: color: rgb(24, 88, 88);
}

.nav-left {
    align-items: center;
    background-color: #B9EDDD;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 60%;
    justify-content: space-around;
    left: 3px;
    position: fixed;
    top: 30%;
    width: 4%;
    z-index: 1;
    box-shadow: 0 0 14px 3px black;
}

.nav-left i {
    font-size: 2rem;
    color: none;
    text-decoration: none;
    color: black;
    transition: font-size 500ms;
    transition: text-decoration 500ms;

}

.nav-left i:hover {
    font-size: 3rem;
    text-decoration: underline;
    transition: text-decoration 500ms;
}

.nav-top {
    align-self: start;
    padding: 1.5rem;
    grid-column: 2/3;
    grid-row: 1/2;
    /* box-shadow: 0 0 14px 3px black;*/
    /*border-bottom: 0.2rem solid rgb(24, 88, 88);*/

}

.nav-ul_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;

}

.nav-ul_top li a {

    color: rgb(24, 88, 88);
    font-family: monospace;
    font-size: 1.5rem;
    text-decoration: none;
    transition: font-size 3s;
    font-weight: 500;
    border-bottom: 1px solid rgb(24, 88, 88);


}

.nav-ul_top li a:hover {
    font-size: 2rem;
    border-bottom: 3px solid #323928;
}

.intro {
    align-items: center;
    background-color: var(--light-bg-color);
    color: #f5f5f5;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50vh 50vh;
    justify-content: center;
    height: 100vh;
}

.name {
    align-self: start;
    font-size: 3rem;
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 10%;
    width: 70%;
    padding-left: 10%;
    color: rgb(24, 88, 88);
    transition: all 5s;
    font-family: monospace;
    transition: all 5s;
}

.name:hover {
    transition: all 5s;
    text-decoration: underline;
}

.intro-text {
    align-self: end;
    color: rgb(24, 88, 88);
    font-family: monospace;
    font-size: 45px;
    grid-column: 2 / 3;
    margin: 5% 15% 5% 0;
}

.img-intro {
    background-image: url(../assets/img/Guilherme.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 244px;
    height: 280px;
    align-self: flex-end;
    justify-self: center;
    border-radius: 5px;
    box-shadow: inset 0 0 5px 2px #282a2d;
    align-self: center;
    padding-top: 16px;
}

.about {
    background-image: linear-gradient(rgba(41, 67, 61, 0.75), rgba(30, 114, 110, 0.8)),
        url('../assets/img/saoPaulo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #f5f5f5;
    padding-left: 4%;
    padding-bottom: 2rem;
    font-family: monospace;
}

.about p {
    font-size: 26px;
    line-height: 3ch;
    padding: 8px 4rem 0 3rem;
    margin-top: 40px;
    font-family: monospace, serif;

}

.skills {
    background-color: var(--light-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0 3rem 2rem;

}

.ul-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    padding: 2rem 0 2rem 2rem;
    list-style: none;
    justify-content: space-around;
}

.ul-skills li {
    padding: 1rem 7% 2% 7%;
}

.img-skills {
    width: 10rem;
    height: 10rem;
}

.title-dark {
    color: rgb(24, 88, 88);
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding-top: 2%;
    text-align: center;
    font-family: monospace;
}

.experience {

    background-color: #B9EDDD;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-bottom: 5%
}




.flex-row {
    display: flex;
    margin: 16px;
    justify-content: space-evenly;
}

.experience-dates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.experience-date {
    margin: 8px;
    display: flex;
    justify-content: space-around;
}

.experience-year {
    color: rgb(24, 88, 88);
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
    width: fit-content;
}

.experiece-description {
    width: 35%;
}

.emphasis {
    background-color: #dfede9;
    padding: 6px;
    color: rgb(24, 88, 88);
    height: fit-content;
}


.title-light {
    color: #f5f5f5;
    font-family: monospace;
    font-size: 3rem;
    padding-top: 2%;
    text-align: center;
}




.none {
    display: none;
}

.experience-card {
    align-items: center;
    background-color: rgba(57, 130, 127, 0.7);
    color: #f5f5f5;
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    justify-content: space-around;
    line-height: 3ch;
    padding: 4px;
    width: 33%;
}


li {
    list-style: none;
}

.projects {
    background-color: var(--light-bg-color);
    height: fit-content;
    justify-content: center;

}

.container-card {
    display: flex;
    flex-flow: row wrap;
    gap: 5%;
    justify-content: center;
    padding: 3% 2% 2% 2%;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px 10px 0 10px;
    background-color: rgb(24, 88, 88);
    margin: 16px 16px 16px 30px;
}

iframe {
    width: 100%;
    height: 500px;

}

.link-card {
    background-color: rgb(24, 88, 88);
    display: flex;
    justify-content: space-around;
    padding: 12px;

}

.link-card a {

    background-color: #dfede9;
    border-radius: 2px;
    color: rgb(24, 88, 88);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: width 500ms;
    width: 10ch;
    padding: 4px;
}

.link-card a:hover {
    width: 12ch;

}

footer {
    background-color: rgba(34, 76, 75, 0.9);
    color: #f5f5f5;
    height: 50px;
    justify-content: center;
    padding: 10px;
    text-align: center;
}



@media only screen and (max-width: 855px) {
    .nav-left {
        color: black;
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        height: 3rem;
        left: 0;
        padding-bottom: 4px;
        padding-top: 2%;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .nav-left i {
        color: black;
        color: none;
        font-size: 2rem;
        text-decoration: none;
        transition: font-size 500ms;

    }

    .nav-left i:hover {
        font-size: 2rem;
    }

    .nav-top {
        background-color: rgba(36, 84, 82, 0.7);
        display: flex;
        padding: 1.5rem;
        top: 0px;
        width: 100%;
    }

    .img-intro {
        display: none;
    }

    .nav-ul_top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
        width: 100%;

    }

    .nav-ul_top li a {
        color: #f5f5f5;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        transition: font-size 2s;
        width: 100%;
    }

    .nav-ul_top li a:hover {
        font-size: 2rem;
        text-decoration: solid black;
    }

    main {
        padding-top: 5%;
        padding-left: 0;
        width: 100%;
    }

    .intro {
        align-items: center;
        color: #f5f5f5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 15px;

    }

    .name {
        font-size: 2rem;
        grid-column: 1/2;
        margin: 10%;
        width: 70%;
    }

    .intro-text {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        padding-left: 7%;
    }

    .about {
        background-image: linear-gradient(rgba(41, 67, 61, 0.75), rgba(30, 114, 110, 0.8)),
            url('../assets/img/saoPaulo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
        color: #f5f5f5;
        padding-left: 0;
        padding-bottom: 2rem;
        font-size: 0.5rem;
    }

    .about p {
        font-size: 1rem;
        line-height: 2ch;
        padding: 10px 2rem 0 1rem;

    }

    h2 {
        font-size: 1.5rem;
    }

    .skills {
        background-color: rgba(18, 106, 103, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;

    }

    .ul-skills {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: space-around;
        list-style: none;
        padding: 0px;
        padding: 20px 10px 20px 10px;
    }

    .ul-skills li {
        padding: 0px;
    }

    .img-skills {
        width: 3rem;
        height: 3rem;
    }

    .experience {
        width: 100%;
        padding: 0;
    }

    .experience-date {
        margin: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .experiece-description {
        width: 100%;
        margin: 4px 0 4px 0;
        font: 1.2em;
    }



    .container-card {
        width: 100%;
        gap: 0;
        padding: 0;
    }

    .cards {
        width: 100%;
        margin: 8px 0 10px 0;
        padding: 0;
    }

    iframe {
        width: 100%;
        height: 315px;

    }

}

@media only screen and (min-width:1250px) {
    .img-intro {
        background-image: url(../assets/img/Guilherme.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        width: 244px;
        height: 350px;
        justify-self: auto;
        border-radius: 2px;
        box-shadow: inset 0 0 5px 2px #282a2d;
        padding-bottom: 4px;
        margin-left: 50px;
    }

    .intro-text {
        /*align-self: end;*/
        color: rgb(24, 88, 88);
        font-family: monospace;
        font-size: 2em;
        grid-column: 2;
        /*margin: 4% 15% 5% 0;*/
        grid-row: 1;
        margin: 400px auto auto 350px;
    }
}